<div class="container">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Araç Kirala</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="">Anasayfa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" *ngIf="isUser" routerLink="araclar">Araçlar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" *ngIf="isUser" routerLink="sedan">SEDAN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" *ngIf="isUser" routerLink="suv">SUV</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" *ngIf="isUser" routerLink="spor">SPOR</a>
          </li>
          <li class="nav-item" *ngIf="!isUser">
            <a class="nav-link active" routerLink="giris">Giriş Yap</a>
          </li>
          <li class="nav-item" *ngIf="!isUser">
            <a class="nav-link active" routerLink="kayit">Kayıt Ol</a>
          </li>
          <li class="nav-item" *ngIf="isUser">
            <a class="btn btn-danger" (click)="logout()">Çıkış Yap</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>