<div class="container">
  <div id="carouselExample" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://cdn.wallpapersafari.com/44/80/ofcN7C.jpg" class="d-block w-100" alt="..."
          style="height: 700px;">
      </div>
      <div class="carousel-item">
        <img src="https://wallpaperaccess.com/full/797996.jpg" class="d-block w-100" alt="..." style="height: 700px;">
      </div>
      <div class="carousel-item">
        <img src="https://wallpaperaccess.com/full/475846.jpg" class="d-block w-100" alt="..." style="height: 700px;">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <h3 style="margin: 3rem auto;">Hemen kirala <strong><a routerLink="araclar">araçlar</a></strong> </h3>
  <h3 style="margin: 3rem auto;">Araçları göremiyorsanız <strong><a routerLink="giris">oturum aç</a></strong> veya
    <strong><a routerLink="kayit">kayıt ol</a></strong> </h3>
</div>